%div{:id => 'page-title'}
  %a{:href => '/'}
    %span{:class => 'root-page'} johnmururay.io
  %h1{:class => 'current-page'} /contact

%div{:id => 'page-description', :class => @notes.empty? ? "desc-empty" : "desc-full"}
  = @notes

%div{:id => 'contact'}
  %div{:class => 'email'}
    %span{:class => 'label'} Email
    %span{:class => 'content'} &#109;&#101;&#064;&#106;&#111;&#104;&#110;&#109;&#117;&#114;&#114;&#097;&#121;&#046;&#105;&#111;
