%div{:id => "splash-stuff"}
  %div{:class => "title"}
    %h1{:class => "domain"} johnmurray
    %span{:class => "tld"}.io
  %div{:class => "nav"}
    %ul
      %li
        %a{:href => "http://github.com/johnmurray"} github
      %li
        %a{:href => "/log"} log
      %li
        %a{:href => "/contact"} contact
      %li
        %a{:href => "/*"} *
