%html
  %head
    %title johnmurray.io
    %meta{:name => "description", :content => "Personal homepage of John Murray (Developer) including links to GitHub, a blog entry, and a catalog of previous and ongoing work and research"}
    %meta{:name => 'author', :content => 'John Murray'}
    %meta{:name => 'keywords', :content => 'John Murray,John,Murray,developer,coder,programmer'}

    %link{:rel => 'stylesheet', :href => '/css/reset.css',      :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/css/stylesheet.css', :type => 'text/css'}

  %body
    /#job{:style => 'display:block;height: 30px;background: #2C2C2C;width:100%;position: absolute;left: 0;top: 0;color: #ddd;text-align: center;font-size: 16px;'}
    /  Looking to hire a full time developer? Contact me@johnmurray.io
    =yield

    %script{:type => 'text/javascript'}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11511983-4']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
