%html
  %head
    %title johnmurray.io
    %meta{:name => "description", :content => "Personal homepage of John Murray (Developer) including links to GitHub, a blog entry, and a catalog of previous and ongoing work and research"}
    %meta{:name => 'author', :content => 'John Murray'}
    %meta{:name => 'keywords', :content => 'John Murray,John,Murray,developer,coder,programmer'}

    %link{:rel => 'stylesheet', :href => '/css/reset.css',      :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/css/stylesheet.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/css/github.css',     :type => 'text/css'}
    %script{:type => 'text/javascript', :src => '/js/highlight.pack.js'}
    %script{:type => 'text/javascript'}
      hljs.initHighlightingOnLoad();

  %body{:onload => 'javascript:hljs.initHighlightingOnLoad();'}
    =yield

    %script{:type => 'text/javascript'}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11511983-4']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
