%html
  %head
    %title johnmurray.io
    %meta{:name => "description", :content => "Personal homepage of John Murray (Developer) including links to GitHub, a blog entry, and a catalog of previous and ongoing work and research"}
    %meta{:name => 'author', :content => 'John Murray'}
    %meta{:name => 'keywords', :content => 'John Murray,John,Murray,developer,coder,programmer'}

    %link{:rel => 'stylesheet', :href => '/css/reset.css',      :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/css/stylesheet.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/css/prettify.css',   :type => 'text/css'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'}
    - if @js_s
      - @js_s.each do |js|
        %script{:type => 'text/javascript', :src => "/js/#{js}"}
    %script{:type => 'text/javascript', :src => '/js/script.js'}

  %body{:onload => 'javascript:prettyPrint()'}
    =yield
