#page-title
  %a{:href => '/'}
    %span{:class => 'root-page'} johnmurray.io
  %h1{:class => 'current-page'} /log
  %span{:class => 'rss' }
    %a{:href => '/rss'}
      [rss]

%div{:id => 'page-description', :class => @notes.empty? ? "desc-empty" : "desc-full"}
  = @notes

#log-list
  - @files.each do |f|
    .log
      %a{:href => f[:path]}
        .title= f[:name]
      .date= f[:date].strftime('%Y.%m.%d')
