%div{:id => 'page-title'}
  %a{:href => '/'}
    %span{:class => 'root-page'} johnmurray.io
  %a{:href => '/log', :class => 'parent-page'}
    %span /log
  %h1{:class => 'current-page'} /#{@doc_title}

%div{:id => 'page-description', :class => @notes.empty? ? "desc-empty" : "desc-full"}
  = @notes

%div{:id => 'log-entry'}
  =@doc

%div{:id => 'related-articles'}
  - @related_logs.each do |l|
    .log
      %a{:href => l[:path]}
        .title=l[:name]

