%div{:id => 'page-title'}
  %a{:href => '/'}
    %span{:class => 'root-page'} johnmururay.io
  %a{:href => '/*', :class => 'parent-page'}
    %span /*
  %h1{:class => 'current-page'} /#{@doc_title}

%div{:id => 'page-description', :class => @notes.empty? ? "desc-empty" : "desc-full"}
  = @notes

%div{:id => 'log-entry'}
  =@doc
