%div{:id => 'page-title'}
  %a{:href => '/'}
    %span{:class => 'root-page'} johnmurray.io
  %h1{:class => 'current-page'} /*

%div{:id => 'page-description', :class => @notes.empty? ? "desc-empty" : "desc-full"}
  = @notes

%div{:id => 'log-list'}
  - @files.sort{|a,b| b[:date] <=> a[:date]}.each do |f|
    %div{:class => 'log'}
      %a{:href => f[:path]}
        %div{:class => 'title'}=f[:name]
      %div{:class => 'date'}
