

/**
 * Constants
 */
@background-color:  #fff;
@dark-gray:         #333;
@medium-gray:       #666;
@light-gray:        #999;
@nice-blue:         #5B83AD;




/**
 * Static Mixins
 */
 // None Right Now


/**
 * Parametric Mixins
 */
.dotted_underline (@color) {
  border-bottom: 1px dotted @color;
}
.pre_slash (@color) {
  &::before {
    content:  "/";
    color:    @color;
  }
}



/**
 * Global (element) Styles
 */
body {
  color:        @dark-gray;
  margin:       0 auto;
  font-family:  'Georgia', Times, serif;
  font-size:    20px;
  line-height:  1.6em;
  padding:      0 15px 100px 15px;
  width:        720px;
  
}

a {
  color:            @dark-gray;
  text-decoration:  none;
  
  .dotted_underline(@dark-gray);
  
  &:active, &:focus, &:hover {
    color:  @nice-blue;
  }
}

em     { font-style:   italic; }
strong { font-weight:  bold; }
sub    { font-size:    80%; }

code {
  background:   whiteSmoke;
  border:       1px solid #ddd;
  color:        black;
  display:      inline-block;
  font-family:  'Bitstream Vera Sans Mono', 'Courier', monospace;
  font-size:    14px;
  font-weight:  normal;
  line-height:  1.2em;
  margin:       0;
  padding:      0 2px;
}

ol {
  list-style: decimal;
  margin:     10px 0 10px 60px;
}

ul {
  list-style: square;
  margin: 10px 0 20px 60px;
}

li {
  margin-bottom: 10px;
}

blockquote {
  margin: 10px 0 10px 60px;
}

/*
 * Style for site-title/back-link at top of each page
 */
 #page-title {
  display:        block;
  font-size:      35px;
  line-height:    1.4em;
  margin-bottom:  40px;
  margin-top:     100px;

  .root-page {
    display:  inline-block;
  }

  .parent-page {
    border-bottom:  none;

    span {
      display:  inline-block;
    }
  }

  .current-page {
    display:  inline-block;
    color:    @nice-blue;
  }

  .rss {
    display:     inline-block;
    float:       right;
    font-size:   14px;
    margin-top:  11px;
  }
}
/*
 * Style for optional page description at top of each page
 */
#page-description {
  color:          @light-gray;
  font-size:      16px;
  font-style:     italic;
}
.desc-empty {
  margin-bottom: 80px;
}
.desc-full {
  margin-bottom: 60px;
}



/**
 * Main page styles
 */
#splash-stuff {
  bottom:    220px;
  display:   block;
  position:  absolute;
  right:     75px;

  div.title {
    display:      block;
    font-size:    60px;
    line-height:  1.6em;

    .dotted_underline(@dark-gray);

    h1.domain {
      display:  inline-block;
      color:    @dark-gray;
    }

    span.tld {
      display:  inline-block;
      color:    @nice-blue;
    }
  }

  div.nav {
    font-size:   32px;
    margin-top:  20px;
    
    ul {
      display:     block;
      float:       right;
      margin:      0;
      padding:     0;
      list-style:  none;
      
      li {
        display:  inline-block;
        margin:   0 0 0 10px;
        padding:  0;

        a {
          border:   none;
          color:    @dark-gray;
          display:  inline-block;

          .pre_slash(@background-color);

          &:active, &:focus, &:hover {
            color:  @nice-blue;

            .pre_slash(@dark-gray);
          }
        }
      }
    }
  }

}

/*
 * Log Styles
 */
#log-list {


  .log {
    display:  block;
    margin:   0 0 10px 0;

    .title {
      display:  inline-block;
      padding:  0 0 3px 0;
    }
  
    .date {
      color:       @light-gray;
      display:     inline-block;
      float:       right;
      font-size:   .8em;
    }
  }
}


/*
 * Contact Styles
 */
#contact {
  display:     block;
  margin-top:  100px;

  .email {

    .label {
      display:      inline-block;
      font-size:    22px;
      margin:       0 20px 0 0;
    }
    .content {
      color:      @light-gray;
      font-size:  16px;
    }
  }
}


/*
 * Log-entry (Random-entry) Styles
 */
#log-entry {
  display:     block;
  font-size:   18px;
  margin-top:  0;

  h1 {
    font-size:    42px;
    line-height:  2em;
  }

  h2 {
    font-size:    36px;
    line-height:  1.8em;
  }

  h3 {
    font-size:    32px;
    line-height:  1.8em;
  }

  h4 {
    font-size:    26px;
    line-height:  1.8em;
  }

  h5 {
    font-size:    22px;
    line-height:  1.7em;
  }

  p {
     color:          @medium-gray;
     margin-bottom:  20px;
  }

  ul {
    li {
      p {
        color:   inherit;
        margin:  0;
      }
    }
  }
}


/*
 * Résumé Styles
 */
#resume {


  .section {
    clear:    both;
    display:  block;

    .heading {
      display:      inline-block;
      float:        left;
      font-weight:  bold;
      font-size:    20px;
      width:        20%;
    }
    .content {
      float:      right;
      font-size:  16px;
      margin:     0 0 30px 0;
      width:      80%;
      
      p {
        margin:   0;
        padding:  0;
      }
      ul {
        line-height:  1.5em;
        margin:       0 0 0 30px;
        padding:      0;
      }
      .spacer {
        display:  block;
        margin:   20px 0px;
      }
    }
  }
}

/*
 * GitHub Styles
 */
.gist {
  font-size:   70%;
  line-height: 1.3em;
}
